{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="{% static 'script.js' %}"></script>

    <link rel="stylesheet" href="{% static 'styles.css' %}">       
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>

<body>

<div id="page">
 

 <form action="/"><input type="submit" value=" Home " /></form>
<br/><br/><br/><br/>
<h3>Create index for new document</h3><br/>
<p>Please enter new documents bellow (eg. a document that not exists before you create first indexes for base directory, this is useful because you don't want create again whole indexes for all documents, so this option allow user to create index only  for new documents, like this /home/user/yourdocument.txt or just put name of your new document) !
 <br/> <br/></p>

    <form action='' method="POST" class="post-form2">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Create index for new document</button>
    </form>

</form>
</form>    
</div>
</body>
</html>
