{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="{% static 'script.js' %}"></script>

    <link rel="stylesheet" href="{% static 'styles.css' %}">       
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
</head>

<body>
    
<div id="page">
 <form action="/"><input type="submit" value=" Home " /></form>
<br/><br/><br/><br/>
<h3>Create index for your document!</h3><br/>
<p>Please enter a correct name of your directory that you want search.<br/><br/></p>

    <form action='' method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default"> Create index </button>
    </form></br></br></br>

    <p  align="justify">Search engine is the popular term for an information retrieval (IR) system. While researchers and developers take a broader view of IR systems, consumers think of them more in terms of what they want the systems to do — namely search the Web, or an intranet, or a database. Actually consumers would really prefer a finding engine, rather than a search engine.
Search engines match queries against an index that they create. The index consists of the words in each document, plus pointers to their locations within the documents. This is called an inverted file. A search engine or IR system comprises four essential modules:</br></br>
   
        1) A document processor</br>
        2) A query processor</br>
        3) A search and matching function</br>
        4) A ranking capability</br>
        

</br>
While users focus on "search," the search and matching function is only one of the four modules. Each of these four modules may cause the expected or unexpected results that consumers get when they use a search engine. 
</br></br></br>
<h3>Document Processor </h3></br>

The document processor prepares, processes, and inputs the documents, pages, or sites that users search against. The document processor performs some or all of the following steps:
</br></br>

    1) Normalizes the document stream to a predefined format.</br>
    2) Breaks the document stream into desired retrievable units.</br>
    3) Isolates and metatags subdocument pieces.</br>
    4) Identifies potential indexable elements in documents.</br>
    5) Deletes stop words.</br>
    6) Stems terms.</br>
    7) Extracts index entries.</br>
    8) Computes weights.</br>
    9) Creates and updates the main inverted file against which the search engine searches in order to match queries to documents.</br>

</p>



 
</div>
</body>
</html>
